html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'openSans', 'Arial', 'sans-serif';
  background-color: #1a1a1a;
}

/* TYPOGRAPHY */

/* default font: helvetica */

@font-face {
  font-family: 'illuma';
  src: url('assets/fonts/illuma-black-webfont.woff2') format('woff2'), url('assets/fonts/illuma-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* default font: arial */

@font-face {
  font-family: 'openSans';
  src: url('assets/fonts/OpenSans-Regular-webfont.eot');
  src: url('assets/fonts/OpenSans-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.textBlock__primary {
  font-family: 'illuma', 'helvetica', 'sans-serif';
  padding: 40px 0;
}

.textBlock__primary h1 {
  /* font-size: 52px; */
  font-size: 1.8em;
  color: white;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5;
  width: 100%;
}

.textBlock__primary h2 {
  /* font-size: 40px; */
  font-size: 1.6em;
  color: #b3b3b3;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5;
  width: 100%;
}

@media only screen and (min-width: 845px) {
  .textBlock__primary h1 {
    font-size: 32px;
  }
  .textBlock__primary h2 {
    font-size: 28px;
  }
}

/* APP STYLES */

.app {
  position: relative;
  height: 100vh;
  width: 100vw;
  padding: 4rem;
  background-color: #1a1a1a;
}

.arrow__primary {
  display: block;
  max-width: 100px;
  width: 100%;
  margin: 50px auto;
}

/* Header */

.logo__primary {
  max-width: 252px;
  width: 100%;
}

@media only screen and (max-width: 633px) {
  .logo__primary {
    max-width: 150px;
  }
}

.menu__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu__button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  width: 100%;
}

.menu__button a {
  font-family: 'illuma', 'helvetica', 'sans-serif';
  font-size: 35px;
  color: #ffffff;
  text-decoration: none;
  margin: 0 auto;
  text-align: right;
}

.menu__button a:hover {
  color: #B8B8B8;
}

/* MENU MODAL */

.nav__primary {
  list-style: none;
  padding-top: 30px;
}

.nav__primary li {
  text-align: center;
}

.nav__primary li a {
  font-family: 'illuma', 'helvetica', 'sans-serif';
  font-size: 52px;
  color: white;
  text-decoration: none;
}

.nav__primary li a:hover {
  color: #b9b9b9;
}

.active {
  color: #b9b9b9;
}

/* BUTTON STYLES */

.obj__button {
  display: block;
  width: 100%;
  max-width: 250px;
  height: 70px;
  margin: 0 auto;
  /* switch to gradient */
  background-color: #2E2E2E;
  font-family: 'illuma', 'helvetica', 'sans-serif';
  font-size: 25px;
  color: white;
  border: 3px solid white;
  cursor: pointer;
}

.obj__button--inline {
  margin: 0;
}

/* WORK SITE TEMPLATE */

.workContainer__primary {
  padding-top: 50px;
}

.thumbnail__primary img {
  width: 100%;
}

.workText__primary {
  font-family: 'openSans', 'Arial', 'sans-serif';
  line-height: 1.2;
  color: #fff;
  margin: 0;
}

.workText__primary h1 {
  font-family: 'illuma', 'helvetica', 'sans-serif';
  font-size: 35px;
}

.workText__primary h3 {
  font-size: 28px;
}

.workText__primary p {
  font-size: 18px;
  line-height: 1.5;
}

.video__primary iframe {
  height: 100%;
  width: 100%;
}

.aboutImg__primary img {
  width: 100%;
}

/* GALLERY STYLES */

.galleryContainer {
  display: block;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  background-color: #B9B9B9;
  padding-top: 25px;
  padding-bottom: 25px;
}

.galleryImg {
  display: inline-block;
}

.galleryImg>img {
  margin-left: 50px;
}

.mauroLogo {
  display: inline;
  max-width: 300px;
  margin-bottom: 45px;
}

.bbLogo {
  display: inline;
  max-width: 300px;
}

.kaliboLogo {
  display: inline;
  max-width: 200px;
}